  .Dialog-title {
    margin: 0;
    font-family: sans-serif;
  }
  
  .Dialog-message {
    font-size: larger;
  }

  .Border {
    padding: 10px 10px;
    border: 10px solid;
  }
  
  .Border-blue {
    border-color: blue;
  }
